* {
	box-sizing: border-box;
}

body {
	margin: 0
}

.header {
	background-color: #F1F1F1;
	padding: 20px;
	text-align: center;
}

.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	display: block;
	color: #F2F2F2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: #DDD;
	color: black;
}

.column {
	float: left;
	width: 33.33%;
	padding: 15px;
}

.row:after {
	content: ""
	display:table;
	clear: both;
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.topnav a {
		float: none;
		width: 100%;
	}
}