#floatTestRight {
	float: right;
	width: 170px;
	height: 170px;
	margin-left: 15px;
}

#floatTestLeft {
	float: left;
	width: 170px;
	height: 170px;
	margin-left: 15px;
}

#floatTestNone {
	float: none;
	width: 170px;
	height: 170px;
	margin-left: 15px;
}

* {
	box-sizing: border-box;
}

.box {
	float: left;
	width: 33.33%;
	padding: 50px;
}

.clearfix:after {
	content: "";
	clear: both;
	display: table;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

.active {
	background-color: red;
}

.header, .footer {
	background-color: grey;
	color: white;
	padding: 15px;
}

.column {
	float: left;
	padding: 15px;
}

.clearfix:after {
	content: "";
	clear: both;
	display: table;
}

.menu {
	width: 25%;
}

.content {
	width: 75%;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li {
	padding: 8px;
	margin-bottom: 8px;
	background-color: #33B5E5;
	color: #FFFFFF;
}

.menu li:hover {
	background-color: #0099CC;
}